<!DOCTYPE html>
<html>
    <head>
		<style>
			h1 {color: aliceblue;
			font-size: 40px;}
			h3{color: aliceblue; font-size: 40px;}
			p { color: aliceblue; font-size: 40px}
			div.wrap {
				position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
			}
		</style>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>TapTvl</title>
        <meta http-equiv="content-language" content="en">
    </head>
    <body style="background-color: black;">
            <div class="wrap">
				
				<h1>TVLTAP</h1>
				<p>Hello !
					This site from Tirunelveli	
				</p>
				<p>Enjoy Webing!</p>
				<h3>Update will soon </h3>
            </div>
    </body>
</html>